<article>
    <div class="container-fluid"> <!--note o fluid, ele faz a post ficar mais largo-->
        <div class="row">

            <!-- Post Container -->
            <div class="
                col-lg-11 col-lg-offset-1
                col-md-10 col-md-offset-1
                post-container">

                <!-- {{ if not (eq (.Param "showtoc") false) }} -->
                <!-- <header> -->
                <!--     <h2>Índice</h2> <!-- eh tipo o toc do rmarkdown, ele da hiperlinks dos topicos -->
                <!-- </header> -->
                <!-- {{.TableOfContents}} -->
                <!-- {{ end }} -->
                
                
                
                
                
                <!-- AQUI VAI O CODIGO HTML DO POST -->
                <!-- AQUI VAI O CODIGO HTML DO POST -->
                <!-- AQUI VAI O CODIGO HTML DO POST -->
                
                
            






<h2 align="center" class="home">
BEM VINDO(A) AO SITE DA DISCIPLINA MAT02219 - PROBABILIDADE E ESTATÍSTICA EAD!
</h2>
<p>
<img src="home_img/todos_logo.png" class="center"/>
</p>
<p>Este site foi desenvolvido pela equipe de Probabilidade e Estatística EAD da UFRGS com o objetivo de reunir os principais materiais de apoio da disciplina, bem como materiais extras que corroboram com o aprendizado adicional <a href="/videos/videos/index.html">Vídeos</a></p>
<div id="o-que-é-esta-disciplina" class="section level3">
<h3>O que é esta disciplina?</h3>
<p>A cadeira de Probabilidade e Estatística EAD da UFRGS é uma disciplina ministrada pelo Departamento de Estatística que visa ensinar aos seus alunos os conceitos básicos</p>
</div>
<div id="por-que-aprender-probabilidade-e-estatística" class="section level3">
<h3>Por que aprender probabilidade e estatística?</h3>
<p>Mais de 20 cursos da UFRGS têm Probabilidade e Estatística como</p>
<a href="http://www.statpop.com.br/2014/06/como-estatisticos-encontraram-o-voo-447.html" target="_blank">
<figure>
<img src="home_img/af447.png">
<figcaption align="center">
Estatísticos foram capazes de encontrar a caixa preta do avião em menos de um mês de pesquisa.
</figcaption>
</figure>
<p></a></p>
</div>



                
                
                
                
                
                <!-- AQUI ACABA O POST -->
                <!-- AQUI ACABA O POST -->
                <!-- AQUI ACABA O POST -->
                
                

                <!-- {{ if .Site.Params.reward }} <!-- esse negocio de site reward eu achei bem estranho, mas enfim, eu coloquei como false no config.toml para nao dar confusao -->
                <!-- {{ partial "reward.html" . }} -->
                <!-- {{ end }} -->

                <hr>
                <ul class="pager">
                    {{ if .PrevInSection }}
                    <li class="previous">
                        <a href="{{ .PrevInSection.URL }}" data-toggle="tooltip" data-placement="top" title="{{ .PrevInSection.Title}}">&larr;
                            Post anterior</a> <!-- botao de ver o post anterior -->
                    </li>
                    {{ end }}
                    {{ if .NextInSection }}
                    <li class="next">
                        <a href="{{ .NextInSection.URL }}" data-toggle="tooltip" data-placement="top" title="{{ .NextInSection.Title}}">Post seguinte &rarr;</a> <!-- botao de ver o post seguinte -->
                    </li>
                    {{ end }}
                </ul>

                {{ partial "comments.html" . }}

            </div>
            <!-- Sidebar Container -->
            <div class="
                col-lg-11 col-lg-offset-1
                col-md-10 col-md-offset-1
                sidebar-container">

                <!-- Featured Tags -->
                {{ if .Site.Params.featured_tags }} <!-- Cria a caixa que mostra as featured tags na parte de baixo do post -->
                <section>
                    <hr class="hidden-sm hidden-xs">
                    <h5><a href="/tags/">Tags em destaque</a></h5>
                    <div class="tags">
                        {{ $featured_condition_size := .Site.Params.featured_condition_size }}
                        {{ range $name, $taxonomy := .Site.Taxonomies.tags }}
                        {{ if gt (len $taxonomy.Pages) $featured_condition_size }}
                        <a href="{{ "/tags/" | relLangURL }}{{ $name | urlize }}" title="{{ $name }}">
                            {{ $name }}
                        </a>
                        {{ end }}
                        {{ end }}
                    </div>
                </section>
                {{ end }}

                <!-- Friends Blog -->
                {{ if .Site.Params.friends }} <!-- Faz o mesmo que o de cima so que para o friends -->
                <section>
                    <hr>
                    <h5>Parceiros</h5>
                    <ul class="list-inline">
                        {{ range .Site.Params.friend_link }}
                        <li><a target="_blank" href="{{.href}}">{{.title}}</a></li>
                        {{ end }}
                    </ul>
                </section>
                {{ end }}
            </div>
        </div>
    </div>
</article>